{
    "local": {
        "host": "http://localhost:8090",
        "username": "add email here",
        "password": "add password here",
        "access_token": "add access token here",
        "refresh_token": "add refresh token here"
    },
    "development": {
        "host": "http://localhost:8090",
        "username": "add email here",
        "password": "add password here",
        "access_token": "add access token here",
        "refresh_token": "add refresh token here"
    },

    "production": {
       "host": "http://localhost:8090",
       "username": "add email here",
       "password": "add password here",
       "access_token": "add access token here",
       "refresh_token": "add refresh token here"
    }
}
